<html>
	<head>
        {% load ehcofilter %} {% block main %} {% load static %} {% load ehcofilter %} {% load staticfiles %}
		<title>{% settings_value "TITLE" %}</title>
		<meta charset="utf-8" >
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >   -->
		<link rel="stylesheet" href="{% static 'sspanel/css/main.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'sspanel/css/sweetalert.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'sspanel/css/noscript.css' %}" /></noscript>
	</head>
	<body>
		<!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <span class="icon fa-diamond"></span>
                </div>
                <div class="column is-12">
                    <div class="tile is-ancestor">
                        <div class="tile is-5 is-vertical is-parent">
                            {% if alipay == True %}
                            <div class="tile box is-child">
                                <p>点击提交会弹出
                                <strong>支付宝二维码</strong>
                                <br>扫描二维码确认付款之后</p>
                                <div class="field has-addons">
                                    <input id="id-input-payinput" class="input" type="text" placeholder="最低不得小于1元: " required>
                                   <br>
                                    <div class="control">
                                        <button class="button is-outlined is-info" id="id-button-payrequest">提交</button>
                                    </div>
                                </div>
                                <div id="id-qrcode-box" class="is-hidden">
                                    <figure class="image">
                                        <img id="id-img-qrcode" src="">
                                    </figure>
                                    <br>
                                    <p>
                                        <strong>付费完成之后请点击确认！</strong>
                                    </p>
                                    <div class="control">
                                        <button id="id-button-query" class="button is-outlined is-danger" href="#">确认</button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'shadowsocks:userinfo' %}">返回</a></li>
{#                        <li><a href="{% url 'shadowsocks:userinfo' %}">账户信息</a></li>#}
{#                        <li><a href="{% url 'shadowsocks:nodeinfo' %}">节点信息</a></li>#}
{#                        <li><a href="{% url 'shadowsocks:chargecenter' %}">充值卡激活</a></li>#}
{#                        <li><a href="{% url 'shadowsocks:shop' %}">商品界面</a></li>#}
{#                        <li><a href="{% url 'shadowsocks:purchaselog' %}">购买记录</a></li>#}
{#                        <li><a href="http://shell.oss-cn-hongkong.aliyuncs.com/SSTap-beta-setup-1.1.0.1.exe.7z">客户端下载</a></li>#}
                    </ul>
                </nav>
            </header>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
        </div>
		<!-- BG -->
        <div id="bg"></div>
        <!-- Scripts -->
        <script src="{% static 'sspanel/js/jquery.min.js' %}"></script>
        <script src="{% static 'sspanel/js/skel.min.js' %}"></script>
        <script src="{% static 'sspanel/js/util.js' %}"></script>
        <script src="{% static 'sspanel/js/main.js' %}"></script>
        <script>
            // 支付请求 部分
            var requestButton = $("#id-button-payrequest")
            var payinput = $("#id-input-payinput")
            var codeBox = $("#id-qrcode-box")
            var payrequest = function () {
                url = "{% url 'api:pay_request' %}"
                paynum = payinput.val()
                if (paynum >= 1) {
                    data = {
                        num: paynum,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    }
                    $.post(url, data, function (results) {
                        qrcode_url = "{% url 'shadowsocks:facepay_qrcode' %}"
                        codeBox.attr('class', '')
                        // 获取当前域名
                        var host = window.location.host
                        var protocol = window.location.protocol
                        // 追加二维码图片
                        $("#id-img-qrcode").attr("src", `${protocol}//${host}/facepay/qrcode/`)
                        info = results.info
                        swal(info.title, info.subtitle, info.status)
                        requestButton.attr("disabled", "disabled")
                    })
                } else {
                    swal('错误！', '金额最少为一元', 'error')
                }
            }
            requestButton.click(payrequest)
            // 支付查询部分
            queryButton = $("#id-button-query")
            var payquery = function () {
                codeBox.empty()
                codeBox.append('后台飞速查询结果中 请稍候....')
                url = "{% url 'api:pay_query' %}"
                $.getJSON(url, function (results) {
                    info = results.info
                    swal(info.title, info.subtitle, info.status)
                })
            }
            queryButton.click(payquery)
        </script>
        <script src="{% static 'sspanel/js/sweetalert.min.js' %}"></script>
        <!--整站消息提醒功能 -->
        {% if registerinfo %}
        <script>
            swal("{{ registerinfo.title }}", '{{ registerinfo.subtitle }}', '{{ registerinfo.status }}');
        </script> {% endif %} {% endblock main %}
	</body>
</html>
