<html>
	<head>
		{% load staticfiles %} {% load ehcofilter %}
		<title>{% settings_value "TITLE" %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'sspanel/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'sspanel/css/sweetalert.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{% static 'sspanel/css/noscript.css' %}" /></noscript>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
                             <div class="inner">
                                 <form class="form" action="{% url 'shadowsocks:register' %}" method="post">
                                     {% csrf_token %} {% for field in form %}
                                     {{ field.label_tag }}
                                     {{ field }}
                                     {{ field.errors }}
                                     {% if field.help_text %}
                                     <p class="help is-danger">{{ field.help_text|safe }}</p>
                                     {% endif %} {% endfor %}
                                     <div class="field is-grouped">
                                         <p class="control">
                                             <button type="submit" class="button is-primary is-outlined">注册</button>
                                         </p>
                                     </div>
                                 </form>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="{% url 'password_reset' %}">忘记密码</a></li>
								<li><a href="{% url 'shadowsocks:login' %}">登录</a></li>
								<li><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=273b3c658ddfff531049b1ef602e7959891f9bf1de262a89298bdef535818d36">索取邀请码</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p><br>
                        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=58868885&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:58868885:51" alt="索要邀请码" title="索要邀请码"/></a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static 'sspanel/js/jquery.min.js' %}"></script>
			<script src="{% static 'sspanel/js/skel.min.js' %}"></script>
			<script src="{% static 'sspanel/js/util.js' %}"></script>
			<script src="{% static 'sspanel/js/main.js' %}"></script>
			<script src="{% static 'sspanel/js/sweetalert.min.js' %}"></script>
			<!--整站消息提醒功能 -->
			{% if registerinfo %}
			<script>
			    swal("{{ registerinfo.title }}", '{{ registerinfo.subtitle }}', '{{ registerinfo.status }}');
			</script> {% endif %}

	</body>
</html>
