<html>
	<head>
		{% load staticfiles %} {% block main %} {% if user.is_authenticated %} {% load ehcofilter %}
		<title>{% settings_value "TITLE" %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'sspanel/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{% static 'sspanel/css/noscript.css' %}" /></noscript>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>个人信息</h1>
{#                                     <li> 端口：<code><span id="port">{{ user.ss_user.port }}</span></code></li>#}
{#                                     <li> 密码：<code>{{ user.ss_user.password }}</code></li>#}
{#                                     <li> 加密：<code>{{ user.ss_user.method }}</code></li>#}
{#                                     <li> 混淆：<code>{{ user.ss_user.protocol }}</code></li>#}
{#                                     <li> 协议：<code>{{ user.ss_user.obfs }}</code></li>	                            #}
                                    <li> 邮箱：<code>{{ user.email }} </code></li>
                                    <li> 余额：<code>{{ user.balance }} 元</code></li>
                                    <li> 等级：<code>{{ user.level }} 级 </code></li>
                                    {% if user.ss_user.enable == True %}
                                    <li> 状态：<code>正常使用</code></li>
                                    {% else %}
                                    <li> 状态：<code>失效</code></li>
                                    {% endif %}
                                    <li> 等级到期时间：<code>{{ user.get_expire_time }} </code></li>
                                    <li>上次使用时间: <code>{{ user.ss_user.get_last_use_time|date:"m月d日G点" }}</code></li>
							</div>
                            <ul>
                                <h3><strong><a href="{% url 'shadowsocks:logout' %}">注销</a></strong></h3>
                                <h2><strong><a href="{% url 'shadowsocks:client_help' %}">使用教程①</a></strong></h2>
                            </ul>
						</div>
						<nav>
							<ul>
                                <li><a href="{% url 'shadowsocks:userinfo' %}">账户信息</a></li>
                                <li><a href="{% url 'shadowsocks:nodeinfo' %}">节点信息</a></li>
                                <li><a href="{% url 'shadowsocks:announcement' %}">最新公告</a></li>
								<li><a href="{% url 'shadowsocks:donate' %}">支付宝充值</a></li>
                            </ul>
                            <ul>
								<li><a href="{% url 'shadowsocks:chargecenter' %}">充值激活</a></li>
								<li><a href="{% url 'shadowsocks:shop' %}">购买商品</a></li>
								<li><a href="{% url 'shadowsocks:purchaselog' %}">消费记录</a></li>
								<li><a href="http://shell.oss-cn-hongkong.aliyuncs.com/SSTap-beta-setup-1.1.0.1.exe.7z">客户端下载</a></li>
                            </ul>
                        </nav>
                        <div>
                        <nav>
                            <ul>
                                {% if perms.shadowsocks %}
                                    <li><a href="/admin">数据后台</a></li>
                                    <li><a class="navbar-item" href="{% url 'shadowsocks:backend_index' %}">网站后台</a></li>
                                {% endif %}
							</ul>
						</nav>
                        </div>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{% static 'sspanel/js/jquery.min.js' %}"></script>
			<script src="{% static 'sspanel/js/skel.min.js' %}"></script>
			<script src="{% static 'sspanel/js/util.js' %}"></script>
			<script src="{% static 'sspanel/js/main.js' %}"></script>

	</body>
</html>
{% else %}
<p>你还没有登录，请登录 </p>
{% endif %} {% endblock main %}
